[user]
	name = Michał Łyszczek
	email = michal.lyszczek@bofc.pl

[sendemail]
    from = Michał Łyszczek <michal.lyszczek@gmail.com>
    smtpserver = smtp.gmail.com
    smtpuser = michal.lyszczek@gmail.com
    smtpencryption = tls
    smtppass = vlvlawkrsmxhxqnm
    chainreplyto = false
    smtpserverport = 587

[diff]
	tool = kdiff3

[core]
	editor = vim

[web]
	browser = chromium

[color]
	ui = auto

[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[gitflow "prefix"]
	feature = feature/
	release = release/
	hotfix = hotfix/
	support = support/
    bugfix = bugix/
	versiontag = v

[gitflow "branch"]
	master = master
	develop = develop

